<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzjy.contract.mapper.ContractMapper">


	<resultMap id="BaseResultMap" type="com.gzjy.contract.model.Contract">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="sample_traits" jdbcType="VARCHAR" property="sampleTraits" />
		<result column="detect_purpose" jdbcType="VARCHAR" property="detectPurpose" />
		<result column="detect_type" jdbcType="VARCHAR" property="detectType" />
		<result column="detect_project" jdbcType="VARCHAR" property="detectProject" />
		<result column="detect_by" jdbcType="VARCHAR" property="detectBy" />
		<result column="is_use_standard" jdbcType="TINYINT" property="isUseStandard" />
		<result column="is_subcontracting" jdbcType="TINYINT" property="isSubcontracting" />
		<result column="is_expedited" jdbcType="TINYINT" property="isExpedited" />
		<result column="is_evaluation" jdbcType="TINYINT" property="isEvaluation" />
		<result column="product_unit" jdbcType="VARCHAR" property="productUnit" />
		<result column="inspection_unit" jdbcType="VARCHAR" property="inspectionUnit" />
		<result column="sampling_address" jdbcType="VARCHAR" property="samplingAddress" />
		<result column="inspection_unit_address" jdbcType="VARCHAR"
			property="inspectionUnitAddress" />
		<result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="fax" jdbcType="VARCHAR" property="fax" />
		<result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
		<result column="report_method" jdbcType="VARCHAR" property="reportMethod" />
		<result column="report_count" jdbcType="VARCHAR" property="reportCount" />
		<result column="inspection_date" jdbcType="TIMESTAMP" property="inspectionDate" />
		<result column="acceptor" jdbcType="VARCHAR" property="acceptor" />
		<result column="acceptance_date" jdbcType="TIMESTAMP" property="acceptanceDate" />
		<result column="cost" jdbcType="REAL" property="cost" />
		<result column="process_id" jdbcType="VARCHAR" property="processId" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="appendix" jdbcType="VARCHAR" property="appendix" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="entrustment" jdbcType="VARCHAR" property="entrustment" />
		<result column="entrustment_address" jdbcType="VARCHAR"
			property="entrustmentAddress" />
		<result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
		<result column="project_leader" jdbcType="VARCHAR" property="projectLeader" />
		<result column="project_name" jdbcType="VARCHAR" property="projectName" />
		<result column="task_category" jdbcType="VARCHAR" property="taskCategory" />
		<result column="sample_type" jdbcType="VARCHAR" property="sampleType" />
		<result column="inspection" jdbcType="VARCHAR" property="inspection" />
		<result column="task_batch" jdbcType="VARCHAR" property="taskBatch" />
		<result column="settlement_method" jdbcType="VARCHAR" property="settlementMethod" />
		<result column="is_separate_settlement" jdbcType="TINYINT"
			property="isSeparateSettlement" />
		<result column="sign_date" jdbcType="TIMESTAMP" property="signDate" />
		<result column="contract_term" jdbcType="VARCHAR" property="contractTerm" />
		<result column="deposit_bank" jdbcType="VARCHAR" property="depositBank" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="auth_category" jdbcType="VARCHAR" property="authCategory" />
		<result column="auth_type" jdbcType="VARCHAR" property="authType" />
		<result column="product_type" jdbcType="VARCHAR" property="productType" />
		<result column="enterprise_file" jdbcType="VARCHAR" property="enterpriseFile" />
		<result column="limit_time" jdbcType="VARCHAR" property="limitTime" />
		<result column="inspect_time" jdbcType="TIMESTAMP" property="inspectTime" />
		<result column="expire_time" jdbcType="VARCHAR" property="expireTime" />
		<result column="contract_sign_time" jdbcType="VARCHAR"
			property="contractSignTime" />
		<result column="report_send_address" jdbcType="VARCHAR"
			property="reportSendAddress" />
		<result column="invoice_send_address" jdbcType="VARCHAR"
			property="invoiceSendAddress" />
		<result column="is_delete" jdbcType="TINYINT" property="isDelete" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.gzjy.contract.model.Contract">
		<result column="extra" jdbcType="LONGVARCHAR" property="extra" />
	</resultMap>

	<sql id="Base_Column_List">
		id, sample_traits, detect_purpose, detect_type, detect_project,
		detect_by, is_use_standard, is_subcontracting, is_expedited,
		is_evaluation, product_unit,
		inspection_unit, sampling_address, inspection_unit_address, zip_code, phone, fax,
		contact_person, report_method, report_count, inspection_date,
		acceptor,
		acceptance_date, cost, process_id, status,created_at,updated_at, appendix, type,
		entrustment,
		entrustment_address, serial_number, project_leader, project_name, task_category,
		sample_type
		inspection, task_batch, settlement_method, is_separate_settlement, sign_date,
		contract_term,
		deposit_bank, account, auth_category, auth_type, product_type, enterprise_file,
		limit_time,
		inspect_time, expire_time, contract_sign_time, report_send_address,
		invoice_send_address, is_delete
	</sql>
	<sql id="Blob_Column_List">
		extra
	</sql>


	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from contract
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		<if test="detectProject != null">
			<bind name="detectProjectPattern" value="'%' + detectProject + '%'" />
		</if>
		select
		<include refid="Base_Column_List" />
		from contract
		<where>
			<if test="detectProject != null">
				detect_project like #{detectProjectPattern}
			</if>
			<if test="type != null">
				type = #{type}
			</if>
		</where>
		order by created_at desc
	</select>	

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from contract
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insertSelective" parameterType="com.gzjy.contract.model.Contract">
		insert into contract
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sampleTraits != null">
				sample_traits,
			</if>
			<if test="detectPurpose != null">
				detect_purpose,
			</if>
			<if test="detectType != null">
				detect_type,
			</if>
			<if test="detectProject != null">
				detect_project,
			</if>
			<if test="detectBy != null">
				detect_by,
			</if>
			<if test="isUseStandard != null">
				is_use_standard,
			</if>
			<if test="isSubcontracting != null">
				is_subcontracting,
			</if>
			<if test="isExpedited != null">
				is_expedited,
			</if>
			<if test="isEvaluation != null">
				is_evaluation,
			</if>
			<if test="productUnit != null">
				product_unit,
			</if>
			<if test="inspectionUnit != null">
				inspection_unit,
			</if>
			<if test="samplingAddress != null">
				sampling_address,
			</if>
			<if test="inspectionUnitAddress != null">
				inspection_unit_address,
			</if>
			<if test="zipCode != null">
				zip_code,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="fax != null">
				fax,
			</if>
			<if test="contactPerson != null">
				contact_person,
			</if>
			<if test="reportMethod != null">
				report_method,
			</if>
			<if test="reportCount != null">
				report_count,
			</if>
			<if test="inspectionDate != null">
				inspection_date,
			</if>
			<if test="acceptor != null">
				acceptor,
			</if>
			<if test="acceptanceDate != null">
				acceptance_date,
			</if>
			<if test="cost != null">
				cost,
			</if>
			<if test="processId != null">
				process_id,
			</if>
			<if test="extra != null">
				extra,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createdAt != null">
				created_at,
			</if>
			<if test="updatedAt != null">
				updated_at,
			</if>

			<if test="appendix != null">
				appendix,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="entrustment != null">
				entrustment,
			</if>
			<if test="entrustmentAddress != null">
				entrustment_address,
			</if>
			<if test="serialNumber != null">
				serial_number,
			</if>
			<if test="projectLeader != null">
				project_leader,
			</if>
			<if test="projectName != null">
				project_name,
			</if>
			<if test="taskCategory != null">
				task_category,
			</if>
			<if test="sampleType != null">
				sample_type,
			</if>
			<if test="inspection != null">
				inspection,
			</if>
			<if test="taskBatch != null">
				task_batch,
			</if>
			<if test="settlementMethod != null">
				settlement_method,
			</if>
			<if test="isSeparateSettlement != null">
				is_separate_settlement,
			</if>
			<if test="signDate != null">
				sign_date,
			</if>
			<if test="contractTerm != null">
				contract_term,
			</if>
			<if test="depositBank != null">
				deposit_bank,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="authCategory != null">
				auth_category,
			</if>
			<if test="authType != null">
				auth_type,
			</if>
			<if test="productType != null">
				product_type,
			</if>
			<if test="enterpriseFile != null">
				enterprise_file,
			</if>
			<if test="limitTime != null">
				limit_time,
			</if>
			<if test="inspectTime != null">
				inspect_time,
			</if>
			<if test="expireTime != null">
				expire_time,
			</if>
			<if test="contractSignTime != null">
				contract_sign_time,
			</if>
			<if test="reportSendAddress != null">
				report_send_address,
			</if>
			<if test="invoiceSendAddress != null">
				invoice_send_address,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="sampleTraits != null">
				#{sampleTraits,jdbcType=VARCHAR},
			</if>
			<if test="detectPurpose != null">
				#{detectPurpose,jdbcType=VARCHAR},
			</if>
			<if test="detectType != null">
				#{detectType,jdbcType=VARCHAR},
			</if>
			<if test="detectProject != null">
				#{detectProject,jdbcType=VARCHAR},
			</if>
			<if test="detectBy != null">
				#{detectBy,jdbcType=VARCHAR},
			</if>
			<if test="isUseStandard != null">
				#{isUseStandard,jdbcType=TINYINT},
			</if>
			<if test="isSubcontracting != null">
				#{isSubcontracting,jdbcType=TINYINT},
			</if>
			<if test="isExpedited != null">
				#{isExpedited,jdbcType=TINYINT},
			</if>
			<if test="isEvaluation != null">
				#{isEvaluation,jdbcType=TINYINT},
			</if>
			<if test="productUnit != null">
				#{productUnit,jdbcType=VARCHAR},
			</if>
			<if test="inspectionUnit != null">
				#{inspectionUnit,jdbcType=VARCHAR},
			</if>
			<if test="samplingAddress != null">
				#{samplingAddress,jdbcType=VARCHAR},
			</if>
			<if test="inspectionUnitAddress != null">
				#{inspectionUnitAddress,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				#{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null">
				#{contactPerson,jdbcType=VARCHAR},
			</if>
			<if test="reportMethod != null">
				#{reportMethod,jdbcType=VARCHAR},
			</if>
			<if test="reportCount != null">
				#{reportCount,jdbcType=VARCHAR},
			</if>
			<if test="inspectionDate != null">
				#{inspectionDate,jdbcType=TIMESTAMP},
			</if>
			<if test="acceptor != null">
				#{acceptor,jdbcType=VARCHAR},
			</if>
			<if test="acceptanceDate != null">
				#{acceptanceDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cost != null">
				#{cost,jdbcType=REAL},
			</if>
			<if test="processId != null">
				#{process_id,jdbcType=VARCHAR},
			</if>
			<if test="extra != null">
				#{extra,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="appendix != null">
				#{appendix,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="entrustment != null">
				#{entrustment,jdbcType=VARCHAR},
			</if>
			<if test="entrustmentAddress != null">
				#{entrustmentAddress,jdbcType=VARCHAR},
			</if>
			<if test="serialNumber != null">
				#{serialNumber,jdbcType=VARCHAR},
			</if>
			<if test="projectLeader != null">
				#{projectLeader,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				#{projectName,jdbcType=VARCHAR},
			</if>
			<if test="taskCategory != null">
				#{taskCategory,jdbcType=VARCHAR},
			</if>
			<if test="sampleType != null">
				#{sampleType,jdbcType=VARCHAR},
			</if>
			<if test="inspection != null">
				#{inspection,jdbcType=VARCHAR},
			</if>
			<if test="taskBatch != null">
				#{taskBatch,jdbcType=VARCHAR},
			</if>
			<if test="settlementMethod != null">
				#{settlementMethod,jdbcType=VARCHAR},
			</if>
			<if test="isSeparateSettlement != null">
				#{isSeparateSettlement,jdbcType=TINYINT},
			</if>
			<if test="signDate != null">
				#{signDate,jdbcType=TIMESTAMP},
			</if>
			<if test="contractTerm != null">
				#{contractTerm,jdbcType=VARCHAR},
			</if>
			<if test="depositBank != null">
				#{depositBank,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="authCategory != null">
				#{authCategory,jdbcType=VARCHAR},
			</if>
			<if test="authType != null">
				#{authType,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				#{productType,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseFile != null">
				#{enterpriseFile,jdbcType=VARCHAR},
			</if>
			<if test="limitTime != null">
				#{limitTime,jdbcType=VARCHAR},
			</if>
			<if test="inspectTime != null">
				#{inspectTime,jdbcType=TIMESTAMP},
			</if>
			<if test="expireTime != null">
				#{expireTime,jdbcType=VARCHAR},
			</if>
			<if test="contractSignTime != null">
				#{contractSignTime,jdbcType=VARCHAR},
			</if>
			<if test="reportSendAddress != null">
				#{reportSendAddress,jdbcType=VARCHAR},
			</if>
			<if test="invoiceSendAddress != null">
				#{invoiceSendAddress,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>


	<update id="updateByPrimaryKeySelective" parameterType="com.gzjy.contract.model.Contract">
		update contract
		<set>
			<if test="sampleTraits != null">
				sample_traits = #{sampleTraits,jdbcType=VARCHAR},
			</if>
			<if test="detectPurpose != null">
				detect_purpose = #{detectPurpose,jdbcType=VARCHAR},
			</if>
			<if test="detectType != null">
				detect_type = #{detectType,jdbcType=VARCHAR},
			</if>
			<if test="detectProject != null">
				detect_project = #{detectProject,jdbcType=VARCHAR},
			</if>
			<if test="detectBy != null">
				detect_by = #{detectBy,jdbcType=VARCHAR},
			</if>
			<if test="isUseStandard != null">
				is_use_standard = #{isUseStandard,jdbcType=TINYINT},
			</if>
			<if test="isSubcontracting != null">
				is_subcontracting = #{isSubcontracting,jdbcType=TINYINT},
			</if>
			<if test="isExpedited != null">
				is_expedited = #{isExpedited,jdbcType=TINYINT},
			</if>
			<if test="isEvaluation != null">
				is_evaluation = #{isEvaluation,jdbcType=TINYINT},
			</if>
			<if test="productUnit != null">
				product_unit = #{productUnit,jdbcType=VARCHAR},
			</if>
			<if test="inspectionUnit != null">
				inspection_unit = #{inspectionUnit,jdbcType=VARCHAR},
			</if>
			<if test="samplingAddress != null">
				sampling_address = #{samplingAddress,jdbcType=VARCHAR},
			</if>
			<if test="inspectionUnitAddress != null">
				inspection_unit_address = #{inspectionUnitAddress,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				zip_code = #{zipCode,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				fax = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="contactPerson != null">
				contact_person = #{contactPerson,jdbcType=VARCHAR},
			</if>
			<if test="reportMethod != null">
				report_method = #{reportMethod,jdbcType=VARCHAR},
			</if>
			<if test="reportCount != null">
				report_count = #{reportCount,jdbcType=INTEGER},
			</if>
			<if test="inspectionDate != null">
				inspection_date = #{inspectionDate,jdbcType=TIMESTAMP},
			</if>
			<if test="acceptor != null">
				acceptor = #{acceptor,jdbcType=VARCHAR},
			</if>
			<if test="acceptanceDate != null">
				acceptance_date = #{acceptanceDate,jdbcType=TIMESTAMP},
			</if>
			<if test="cost != null">
				cost = #{cost,jdbcType=REAL},
			</if>
			<if test="processId != null">
				process_id = #{processId,jdbcType=VARCHAR},
			</if>
			<if test="extra != null">
				extra = #{extra,jdbcType=LONGVARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				created_at = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				updated_at = #{updatedAt,jdbcType=TIMESTAMP},
			</if>

			<if test="appendix != null">
				appendix = #{appendix,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="entrustment != null">
				entrustment = #{entrustment,jdbcType=VARCHAR},
			</if>
			<if test="entrustmentAddress != null">
				entrustment_address = #{entrustmentAddress,jdbcType=VARCHAR},
			</if>
			<if test="serialNumber != null">
				serial_number = #{serialNumber,jdbcType=VARCHAR},
			</if>
			<if test="projectLeader != null">
				project_leader = #{projectLeader,jdbcType=VARCHAR},
			</if>
			<if test="projectName != null">
				project_name = #{projectName,jdbcType=VARCHAR},
			</if>
			<if test="taskCategory != null">
				task_category = #{taskCategory,jdbcType=VARCHAR},
			</if>
			<if test="sampleType != null">
				sample_type = #{sampleType,jdbcType=VARCHAR},
			</if>
			<if test="inspection != null">
				inspection = #{inspection,jdbcType=VARCHAR},
			</if>
			<if test="taskBatch != null">
				task_batch = #{taskBatch,jdbcType=VARCHAR},
			</if>
			<if test="settlementMethod != null">
				settlement_method = #{settlementMethod,jdbcType=VARCHAR},
			</if>
			<if test="isSeparateSettlement != null">
				is_separate_settlement = #{isSeparateSettlement,jdbcType=TINYINT},
			</if>
			<if test="signDate != null">
				sign_date = #{signDate,jdbcType=TIMESTAMP},
			</if>
			<if test="contractTerm != null">
				contract_term = #{contractTerm,jdbcType=VARCHAR},
			</if>
			<if test="depositBank != null">
				deposit_bank = #{depositBank,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="authCategory != null">
				auth_category = #{authCategory,jdbcType=VARCHAR},
			</if>
			<if test="authType != null">
				auth_type = #{authType,jdbcType=VARCHAR},
			</if>
			<if test="productType != null">
				product_type = #{productType,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseFile != null">
				enterprise_file = #{enterpriseFile,jdbcType=VARCHAR},
			</if>
			<if test="limitTime != null">
				limit_time = #{limitTime,jdbcType=VARCHAR},
			</if>
			<if test="inspectTime != null">
				inspect_time = #{inspectTime,jdbcType=TIMESTAMP},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime,jdbcType=VARCHAR},
			</if>
			<if test="contractSignTime != null">
				contract_sign_time = #{contractSignTime,jdbcType=VARCHAR},
			</if>
			<if test="reportSendAddress != null">
				report_send_address = #{reportSendAddress,jdbcType=VARCHAR}
			</if>
			<if test="invoiceSendAddress != null">
				invoice_send_address = #{invoiceSendAddress,jdbcType=VARCHAR}
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=TINYINT}
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateStatusByProcessId">
		update contract set status = #{status,jdbcType=VARCHAR}
		where process_id = #{processId,jdbcType=VARCHAR}
	</update>

	<select id="getMaxIdByType" parameterType="java.lang.String"
		resultType="string">
		select max(id) from contract where type = #{type,jdbcType=VARCHAR}
	</select>
	
	<select id="getAppendix" resultType="string" parameterType="java.lang.String">		
		select appendix from contract where id = #{id}		
	</select>

</mapper>