<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzjy.log.mapper.LogMapper">


	<resultMap id="BaseResultMap" type="com.gzjy.log.model.LogModel">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="operate_user_id" jdbcType="VARCHAR" property="operateUserId" />
		<result column="operate_user" jdbcType="VARCHAR" property="operateUser" />
		<result column="operation" jdbcType="VARCHAR" property="operation" />		
		<result column="target" jdbcType="VARCHAR" property="target" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="extra" jdbcType="VARCHAR" property="extra" />		
	</resultMap>

	<sql id="Base_Column_List">
		id, operate_user_id, operate_user, operation, target, create_time,extra 		
	</sql>


	<insert id="insert" parameterType="com.gzjy.log.model.LogModel">
		insert into log(id, operate_user_id, operate_user, operation, target, create_time,extra)
		values (
		#{id,jdbcType=VARCHAR},
		#{operateUserId,jdbcType=VARCHAR},
		#{operateUser,jdbcType=VARCHAR},
		#{operation,jdbcType=VARCHAR},		
		#{target,jdbcType=VARCHAR},	
		#{createTime,jdbcType=TIMESTAMP},
		#{extra,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectAll" resultMap="BaseResultMap">		
		select
		<include refid="Base_Column_List" />
		from log 
		<where>
			<if test="operateUserId != null">
				and operate_user_id = #{operateUserId}
			</if>
			<if test="operateUser != null">
				and operate_user = #{operateUser}
			</if>
			<if test="operation != null">
				and operation = #{operation}
			</if>
		</where>
		order by create_time desc
	</select>	

	<delete id="deleteByCreateTime" parameterType="java.lang.String">
		delete from log 
		where create_time &lt; #{createTime, jdbcType=VARCHAR} 
	</delete>
	
	
</mapper>